<table mat-table [dataSource]="itemSource" class="mat-elevation-z8" multiTemplateDataRows>

    <ng-container matColumnDef="Item-ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.item_id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.item_nome}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Preço">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element"> {{element.item_price}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="Quantidade">
        <th mat-header-cell *matHeaderCellDef> Qtd </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <ng-container matColumnDef="Categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="Imagem">
        <th mat-header-cell *matHeaderCellDef> Imagem </th>
        <td mat-cell *matCellDef="let element"> 
            <img [src]="element.imagem" class="image-size"/>
        </td>
    </ng-container>

    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary">
                <mat-icon [ngStyle]="{'color':'#3f51b5'}">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon [ngStyle]="{'color':'red'}">delete_forever</mat-icon>
            </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedItems"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedItems;"></tr>
</table> 