<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login - Ecommerce</title>
    </head>

    <body>
        <div id="form-login">
            <form action="">
                <div id="username">
                    <label for="username">Username</label>
                    <br>
                    <input type="text" id="username" name="username"  [name] = "username">
                </div>
                <div id="password">
                    <label for="password">Password</label>
                    <br>
                    <input type="text" id="password" name="password" [name]= "password">
                </div>
                <div id="submit">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </body>
</html>
