<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login - Ecommerce</title>
    </head>

    <body>
        <div id="form-login">
            <form>
                <div id="username" class="form-group">
                    <label for="username">Username</label>
                    <br>
                    <input type="text" id="usernameText" name="username" placeholder="E-mail/CPF" [name] = "username">
                </div>
                <div id="password" class="form-group">
                    <label for="password">Password</label>
                    <br>
                    <input type="text" id="passwordText" name="password" placeholder="Senha" [name]= "password">
                </div>
                <div id="submit" class="form-group">
                    <app-button [buttonText]="'Cadastrar'" [buttonDisable]="false"></app-button>
                    <app-button [inputbuttonType]="'submit'" [buttonText]="'Login'" [buttonDisable]="false" (click)="doLogin()"></app-button>
                </div>
            </form>
        </div>
    </body>
</html>
