<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login - Ecommerce</title>
    </head>

    <body>
        <div id="form-login">
            <form (ngSubmit)="doLogin()">
                <div id="username" class="form-group">
                    <label for="username">Username</label>
                    <br>
                    <input type="text" id="usernameText" name="textUsername" placeholder="E-mail/CPF" [(ngModel)]="formData.username">
                </div>
                <div id="password" class="form-group">
                    <label for="password">Password</label>
                    <br>
                    <input type="text" id="passwordText" name="password" placeholder="Senha" [(ngModel)]="formData.password">
                </div>
                <a href="#">Esqueceu a senha?</a>
                <div id="buttons" class="form-group">
                    <button type="submit" name="Entrar">Entrar</button>
                    <app-button [buttonText]="'Cadastrar'" [buttonDisable]="false"></app-button>
                </div>
            </form>
        </div>
    </body>
</html>
